body {
    background-repeat: no-repeat;
    background-size: cover;
    background: url(photos/background.jpg);
    color: white;
}
#button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
#button2 {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
#button3 {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
#button4 {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
#button5 {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
#button6 {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
